.page.clan {
  text-align: center;

  .wrapper-clan {
    padding-top: 4em;
    width: 80%;
    margin: 0 auto;

    .name-column {
      min-width: 200px;
    }

    & > table {
      margin: 0 auto;
      counter-reset: line-number;

      th {
        padding: 15px;
        font-size: 120%;
      }

      td.name {
        text-align: left;
        padding-left: 10px;

        &:before {
          content: counter(line-number) ".";
          counter-increment: line-number;
          text-align: right;
          display: inline-block;
          width: 25px;
          padding-right: 10px;
        }
      }
    }

    hr {
      margin: 40px auto;
    }

    .add-new-member {
      margin-top: 30px;
      margin-bottom: 30px;

      input[type="text"] {
        width: 300px;
      }

      button {
        width: 60px;
        height: 30px;
      }
    }

    /*@media screen and (min-width: 40em) {
      margin: 0 auto;
      width: 80%;
    }*/

    /*@media screen and (max-width: 45em) and (min-width: 40em) {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
    }

    @media screen and (max-width: 30em) {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
    }*/
  }

  .title {
    .font-l1;
    .type-light;
    color: @color-ancillary;
    margin-bottom: .75rem;
  }

  .subtitle {
    color: @color-medium-well;
    margin: 0 15% 3rem;
  }
}
