<template name="clan">
  <div class="page clan">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-clan">
        <h1 class="title">{{name}}</h1>

        <table id="members">
          <thead>
            <tr>
              <th>Opt-in</th>
              <th class="name-column">Name</th>
              <th>{{#if isLeader}}Action{{/if}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each members}}
              <tr data-id="{{this._id}}">
                <td>
                  <input type="checkbox"
                    class="optin" checked="{{optin}}"
                    disabled="{{#unless canChangeOptin}}disabled{{/unless}}">
                </td>
                <td class="name">{{profile.name}} <b>{{rank}}</b></td>
                <td>
                  {{#if isLeader}}
                    <a href="#" class="promote">[promote]</a>
                    <a href="#" class="demote">[demote]</a>
                    <a href="#" class="kick">[kick]</a>
                  {{/if}}
                </td>
              </tr>
            {{else}}
              <tr><td>Empty.</td></tr>
            {{/each}}
          </tbody>
        </table>

        {{#if isLeader}}
          <hr>

          <h1 class="title">Add new member</h1>

          <table class="pending">
            <tr>
              <th>Name</th>
              <th>Token</th>
              <th></th>
            </tr>
            {{#each pending}}
              <tr>
                <td>{{name}}</td>
                <td>{{token}}</td>
                <td><a href="#" class="cancel">cancel</a></td>
              </tr>
            {{/each}}
          </table>

          <form class="add-new-member">
            <div class="input-symbol">
              <input type="text" name="playername" placeholder="Player name">
              <span class="icon-enemy" title="Name of the new member"></span>
            </div>
            <button class="generate-token">Add</button>
          </form>
        {{/if}}

      </div>
    </div>
  </div>
</template>
