<template name="target">
  <li>
    <div class="target-container {{myReservedTarget}}">
      <div class="stars-container">
        {{#if anyAttacks}}
          <span class="attacker">
            <b>{{bestAttackerName}} ({{bestAttackerPosition}}.)</b>
          </span>
          <div class="stars">
            <span class="star {{star "1"}}"></span>
            <span class="star {{star "2"}}"></span>
            <span class="star {{star "3"}}"></span>
          </div>
        {{else}}
          <span class="info">No attacks yet.</span>
        {{/if}}
      </div>
      <div class="register-container">
        {{#if isReserved}}
          <span class="booked-name {{#unless canHandleReservation}}full-height{{/unless}}">
            {{bookedForName}} ({{bookedPlayerPosition}}.)
          </span>
          {{#if canHandleReservation}}
            <a href="#" class="cancel">cancel</a><br>
            <a href="#" class="set-result star0">Stars: 0</a>
            <a href="#" class="set-result star1">Stars: 1</a><br>
            <a href="#" class="set-result star2">Stars: 2</a>
            <a href="#" class="set-result star3">Stars: 3</a>
          {{/if}}
        {{else}}
          {{#if noPendingAttack}}
            {{#if anyAttacksLeft}}
              {{#if notAttackedThisYet}}
                <a href="#" class="register">Make reservation</a>
              {{else}}
                <span class="no-more-attacks">Attacked already.</span>
              {{/if}}
            {{else}}
              <span class="no-more-attacks">No more attacks.</span>
            {{/if}}
          {{else}}
            <span class="no-more-attacks">Pending.</span>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="target-extra">
      <div class="chat">
        <div class="messages">
          {{#each messages}}
            <span class="message"><b>{{name}}</b>: {{message}}</span>
            <br>
          {{else}}
            <span class="message">No messages.</span>
            <br>
          {{/each}}
        </div>
        <form>
          <input type="text" placeholder="Type, then enter...">
        </form>
      </div>
      <div class="history">
        {{#each reversedAttacks}}
          <span class="name">
            <b>{{name}}</b>
            {{#if isAttackDone}}: {{stars}} stars at {{time}}.{{else}} not attacked yet.{{/if}}
          </span>
          <br>
        {{else}}
          <span cass="name">No attacks yet.</span>
        {{/each}}
      </div>
    </div>
  </li>
</template>
