ol.targets {
  counter-reset: li;

  div.target-container {
    display: block;
    height: 100px;
    width: 100%;
    max-width: 700px;
    background: #ccc;
    margin: 10px auto 0;
    .border-radius(5px);
    overflow: hidden;

    &:before {
      content: counter(li) ".";
      counter-increment: li;
      display: block;
      position: absolute;
      vertical-align: middle;
      line-height: 100px;
      font-size: 300%;
      padding: 0 20px;
      text-align: right;
      width: 70px;
      color: #777;

      @media screen and (max-width: 60em) {
        font-size: 200%;
        width: 45px;
      }
    }

    &.my-target {
      background-color: #E4BA69;
    }

    a {
      color: #FF1E1E;
    }

    .stars-container {
      //padding-top: 23px;
      padding-left: 120px;
      display: inline-block;
      width: 50%;
      float: left;

      @media screen and (max-width: 60em) {
        padding-left: 80px;
      }

      .attacker {
        text-align: center;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        position: relative;
        top: 15px;
      }

      .info {
        line-height: 100px;
      }

      .stars {
        text-align: center;
        display: inline-block;
        width: 100%;
        max-width: 170px;
        white-space: nowrap;
        position: relative;
        top: 27px;

        .star {
          display: inline-block;
          width: 30%;
          height: 55px;
          background: no-repeat url('/img/stars.png');
          background-position: 50% 0;
          background-size: 300%;

          &.acquired {
            background-position: 0% 0;
          }

          &.pending {
            background-position: -50% 0;
          }
        }
      }
    }

    .register-container {
      display: inline-block;
      width: 50%;
      float: left;

      .booked-name {
        display: inline-block;
        white-space: nowrap;
        font-weight: bold;
        line-height: 32px;
      }

      .full-height {
        line-height: 100px;
      }

      .no-more-attacks {
        line-height: 100px;
      }

      .set-result {
        .border-radius(3px);
        color: #fff;
        background-color: #2B2B2C;
        margin: 2px 3px;
        padding: 2px 10px;
        line-height: 33px;
      }

      .cancel {
        .border-radius(3px);
        color: #fff;
        background-color: #f00;
        margin: 2px 3px;
        padding: 2px 4px;
      }

      .register {
        .border-radius(5px);
        color: white;
        background-color: #8D8DE4;
        padding: 10px 15px;
        line-height: 100px;
        white-space: nowrap;

        &:hover {
          background-color: #ADADEB;
        }
      }
    }
  }

  div.target-extra {
    background-color: #BAA;
    .border-bottom-radius(5px);
    width: 90%;
    margin: 0 auto;

    .chat, .history {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 5px;
    }

    .chat {
      border-right: 1px solid #888;
      padding-right: 10px;

      .messages {
        max-height: 106px;
        min-height: 20px;
        overflow-y: auto;
        word-wrap: break-word;
        padding: 3px;
      }

      input[type="text"] {
        padding: 3px 10px;
        width: 100%;
        margin-top: 5px;
      }
    }

    .history {

      .name {

      }
    }
  }
}
