<template name="warDeclare">
  <div class="page war-declare">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-war-declare">
        <h1 class="title">Declare New War</h1>
        <p class="subtitle" >{{getQuoteAboutWar}}</p>

        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol  {{errorClass 'enemy'}}">
            <input type="text" name="enemy" placeholder="Enemy clan's name" />
            <span class="icon-enemy" title="Enemy clan's name"></span>
          </div>

          <div class="input-optin">
            <table id="members">
              <tbody>
                {{#each members}}
                  <tr data-id="{{this._id}}">
                    <td><input type="checkbox" class="optin" checked="{{optin}}"></td>
                    <td class="name">{{profile.name}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            {{#if members.length}}
            <p class="subtitle">Opt-in count: {{optinCount}}</p>
            {{/if}}
          </div>

          <div class="automation">
            <input type="checkbox" id="needauto">
            <label for="needauto">Reserve automation</label>

            <div class="auto-settings {{autoSettingsClass}}">
              <label for="autovalue">Shifting: </label>
              <input type="number" min="-50" max="50" step="1" id="autovalue" value="0">
              <p>{{autoValueDisplay}}</p>
            </div>
          </div>

          <button type="submit" class="btn-primary">Declare!</button>
        </form>
      </div>
    </div>
  </div>
</template>
