<template name="war">
  <div class="page war">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-war">
        <h1 class="title">{{enemyName}}</h1>
        <p class="subtitle" >{{size}} vs. {{size}}</p>

        {{#if strategyShouldDisplayed}}
          <textarea class="war-strategy {{editingStrategy}}"
            readonly="{{#unless isLeader}}readonly{{/unless}}"
            placeholder="Edit war strategy...">{{warStrategy}}</textarea>
        {{/if}}

        <ol class="targets">
          {{#each targets}}
            {{> target}}
          {{/each}}
        </ol>

        {{#if isLeader}}<a href="#" class="delete-war">Delete this war</a>{{/if}}
      </div>
    </div>
  </div>
</template>
