.page.war {
  text-align: center;

  .wrapper-war {
    padding-top: 4em;
    width: 80%;
    margin: 0 auto;

    /*@media screen and (min-width: 40em) {
      margin: 0 auto;
      width: 80%;
    }*/

    @media screen and (max-width: 45em) and (min-width: 40em) {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
    }

    @media screen and (max-width: 30em) {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
    }

    .transition-properties(...) {
      @props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
      -webkit-transition-property: @props;
      -moz-transition-property: @props;
      -o-transition-property: @props;
      transition-property: @props;
  }

    textarea.war-strategy {
      border: 1px solid #d2edf4;
      background-color: #d2edf4;
      padding: 3px;
      width: 80%;
      height: 110px;
      resize: none;
      .transition(0.4s, ease);
      .transition-properties(border, background-color);

      &.editing {
        border: 1px solid #ccc;
        background-color: white;
        resize: vertical;
      }
    }
  }

  .stars-acquired {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .attacks-left {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 40px;
  }

  .title {
    .font-l1;
    .type-light;
    color: @color-ancillary;
    margin-bottom: .75rem;
  }

  .subtitle {
    color: @color-medium-well;
    margin: 0 15% 3rem;
  }

  .elevator-button {
    display: block;
    width: 100%;
    margin: 40px 0;
  }

  .delete-war {
    .border-radius(3px);
    color: #fff;
    background-color: #FF5050;
    margin: 2px 3px 30px;
    padding: 2px 4px;
    display: inline-block;
  }
}
