<template name="war">
  <div class="page war">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-war">
        <h1 class="title">{{enemyName}}</h1>
        <p class="subtitle" >{{size}} vs. {{size}}</p>

        <ol class="targets">
          {{#each targets}}
            {{> target}}
          {{/each}}
        </ol>

        {{#if isLeader}}<a href="#" class="delete-war">delete</a>{{/if}}
      </div>
    </div>
  </div>
</template>
