<template name="welcome">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Welcome!</h1>
        {{#if statsReady}}
          {{#with stats}}
          <p class="subtitle-auth">A better Clash of Clans War manager tool.</p>
          <p class="subtitle-auth">Registered clans: {{clanCount}}</p>
          <p class="subtitle-auth">Registered players: {{playerCount}}</p>
          <p class="subtitle-auth">Wars created: {{warCount}}</p>
          <p class="subtitle-auth">Chat messages written: {{chatMessageCount}}</p>
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
